<ul id="header-list">
  <div id="header-logo">
    <div id="svg">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
        ></path>
      </svg>
    </div>
    <div id="logo-text"><a href="/">MyBlog</a></div>
  </div>
  <div id="dropdown">
    <div id="about-dropdown">ABOUT</div>
    <div id="contact-dropdown">CONTACT</div>
    <div id="about-dropdown">BLOG</div>
    <div id="about-dropdown">CAREER</div>
    <div id="about-dropdown">PRIVATE</div>
  </div>
</ul>
<div id="secondary-header-list-container">
  <ul id="secondary-header-list">
    <li><a href="/">HOME</a></li>
    <li><a href="/admin">ADMIN</a></li>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="/signup">SIGNUP</a></li>
    <li><a href="/">LOGOUT</a></li>
    <!-- <li>LIFESTYLE</li>
      <li>COOKING</li>
      <li>GAMING</li>
      <li>TRAVEL</li>
      <li>MUSIC</li>
      <li>OTHERS</li> -->
    <li>
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        ></path>
      </svg>
    </li>
  </ul>
</div>
