<!DOCTYPE html>
<head>
  <%- include('includes/head') %>
  <link rel="stylesheet" href="styles/logging.css">
  <title>MyBlog</title>
</head>
<html lang="en">
  <body>
    <header><%- include('includes/header') %></header>
    <main>
       U are on admin.
    </main>